{% extends 'base.html' %} {% block content %}
<strong style="margin-bottom: 1rem">New Paste</strong>
<form method="post" action="/">
  <textarea name="body" type="text" rows="10" placeholder="Paste your text here..." ></textarea>
  <br />
  <label for="cars">Choose a language:</label>
  <select name="language">
    {% for lan in languages %}
      <option value="{{ lan }}">{{ lan }}</option>
    {% endfor %}
  </select>
  <br />
  <button type="submit">Submit</button>
</form>
{% if pastes %}
<hr />
<strong>Latest Pastes</strong>
<ul style="list-style-type: none; margin-left: -2rem">
  {% for p in pastes %}
  <li>
    🔗 <a href="/{{ p.Code }}">{{ p.Code }}</a>
    <small> | {{ p.Language }} | {{ p.CreatedAt | date:'2006-01-02 15:04:05' }} </small>
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock %}